@import 'src/styles/components/typeahead';

body {
  background-color: #e7ffff;
}

.home-page{
    .search-box-wrap{
        text-align: center;
        max-width: 1160px;
        margin: 100px auto;
    }
    .message-wrap{
        margin-top: 100px
    }
}
